.footer {
  background-color: #003366; /* Darker blue */
  padding: 20px; /* Adjust padding as needed */
  text-align: center; /* Center text horizontally */
  color: hsl(0, 0%, 100%);
  width: 100%; /* Ensure the footer spans the entire width */
  position: relative; /* Remove floating behavior */
  bottom: 0; /* Remove any floating behavior */
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footerText {
  flex: 1;
  text-align: left;
  font-size: 1.2rem; /* Bigger font */
}

.footerLinks {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.footerLink {
  margin: 0 10px;
  font-size: 1.2rem; /* Bigger font */
  color: #fff;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}
