body {
  background: #d5ebff !important;
  margin: 0; /* Ensure there's no margin around the body */
  padding: 0; /* Ensure there's no padding around the body */
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  min-height: 100vh; /* Ensure the body takes full height */
  display: flex;
  flex-direction: column; /* Stack content and footer */
}

html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ensure the app takes available space */
}

.content-wrapper {
  flex: 1; /* Push the footer to the bottom if content is not enough */
}
